<a href="https://colab.research.google.com/github/breef-droid/codewars/blob/main/Codewars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sum of parts
#### https://www.codewars.com/kata/5ce399e0047a45001c853c2b/train/python

In [ ]:
def parts_sums(ls):
    result = [sum(ls)]
    for item in ls:
        result.append(result[-1] - item)
    return result

In [ ]:
ls = [0, 1, 3, 6, 10]
parts_sums(ls)

### Buying a car
#### https://www.codewars.com/kata/554a44516729e4d80b000012/train/python

In [ ]:
def nbMonths(startPriceOld, startPriceNew, savingperMonth, percentLossByMonth):
    # your code
    trade_price = -1
    month = 0
    savings = 0

    if startPriceOld >= startPriceNew:
        return [0, startPriceOld - startPriceNew]

    while trade_price < 0:
        savings += savingperMonth
        if month % 2 == 0:
            percentLossByMonth = percentLossByMonth
        elif month % 2 == 1:
            percentLossByMonth += 0.5
        startPriceOld = startPriceOld * (1 - percentLossByMonth/100)
        startPriceNew = startPriceNew * (1 - percentLossByMonth/100)
        trade_price = (startPriceOld - startPriceNew) + savings
        month += 1
        print(f'Month: {month}, OldPrice: {startPriceOld}, NewPrice: {startPriceNew}, %depn {percentLossByMonth}, Trade {trade_price}')
    return [month, round(trade_price, 0)]
        
# def calc_price(startPriceOld, startPriceNew, savingperMonth, percentLossByMonth):
#     return (startPriceOld * (1-percentLossByMonth/100) - startPriceNew * (1-percentLossByMonth/100) + savingperMonth)

In [ ]:
nbMonths(2000, 8000, 1000, 1.5)

### Multiplication Table
#### https://www.codewars.com/kata/534d2f5b5371ecf8d2000a08/train/python

In [ ]:
def multiplication_table(size):
    res = []
    for num_row in range(1, size + 1):
        row_table = []
        for num_column in range(1, size + 1):
            row_table.append(num_row * num_column)
        res.append(row_table)
    return res

In [ ]:
multiplication_table(4)

### Triple Trouble
#### https://www.codewars.com/kata/55d5434f269c0c3f1b000058

In [ ]:
from collections import Counter

def triple_double(num1, num2):
    num1 = [int(num) for num in str(num1)]
    num2 = [int(num) for num in str(num2)]
    
    group1 = Counter(num1)
    group2 = Counter(num2)

    for key, value in group1.items():
        if value > 2 and key in group2.keys():
            if group2[key] == 2:
                print(key, value)
                return 1
    return 0

In [ ]:
triple_double(10560002, 100)

### Encrypt this! (25/09/2021)
#### https://www.codewars.com/kata/5848565e273af816fb000449

In [ ]:
def encrypt_this(text):
    encrypt_word = []

    for word in text.split():
        word = list(word)
        word[0] = str(ord(word[0]))
        if len(word) > 2:
            word[1], word[-1] = word[-1], word[1]
        encrypt_word.append(''.join(word))

    return ' '.join(encrypt_word)

In [ ]:
test = "The more he saw the less he spoke"
encrypt_this(test)

### A Rule of Divisibility by 13
#### https://www.codewars.com/kata/564057bc348c7200bd0000ff/train/python

In [ ]:
def thirt(n):
    rem = [1,10,9,12,3,4]
    digits = [int(dig) for dig in str(n)][::-1]
    result = 0
    
    while len(digits) > 2:
        for i in range(0, len(digits)):
            result += digits[i] * rem[i % 6]
        digits = [int(dig) for dig in str(result)][::-1]
        result = 0

    num = [str(n) for n in digits[::-1]]
    num = int(''.join(num))

    return num

In [ ]:
thirt(1234567)

### Meeting
#### https://www.codewars.com/kata/59df2f8f08c6cec835000012

In [ ]:
def meeting(s):
    names_list = list()
    for name in s.split(';'):
        name = name.upper()
        name = tuple(name.split(':')[::-1])
        names_list.append(name)
    names_list = sorted(names_list, key= lambda element: (element[0], element[1]))
    res = str()
    for e in names_list:
        e = str(e).replace("'", "")
        res += str(e)
    return res

In [ ]:
s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill"
meeting(s)

### Luhn Algorithm
#### https://www.codewars.com/kata/5418a1dd6d8216e18a0012b2

In [ ]:
def validate(n):
    n = [int(digit) for digit in str(n)][::-1]
    for num in range(1, len(n), 2):
        if len(str(n[num] * 2)) > 1:
            n[num] = n[num] * 2 - 9
        else:
            n[num] *= 2
    
    return sum(n) % 10 == 0

In [ ]:
validate(8511025042084)

### Count IP Addresses
#### https://www.codewars.com/kata/526989a41034285187000de4/train/python

#### 0.0.0.0 -> 255.255.255.255

In [ ]:
def ips_between(start, end):
    return abs(ip_to_int(start) - ip_to_int(end))

def ip_to_int(ip):
    ip = [int(i) for i in ip.split('.')][::-1]
    int_result = 0
    for index, value in enumerate(ip):
        int_result += value * (2 ** (index * 8))
    return int_result

In [ ]:
# ip_to_int("64.233.187.99")
ips_between("10.0.0.0", "10.0.0.50")

### Gap in primes
#### https://www.codewars.com/kata/561e9c843a2ef5a40c0000a4/train/python

In [ ]:
def gap(g, m, n):
    last_prime = 2
    for i in range(m, n+1):
        prime = True

        for j in range(2, int(n**.5)+1):
            if i % j == 0:
                prime = False
                break

        if prime:
            if i - last_prime == g:
                return [last_prime, i]
            else:
                last_prime = i

In [ ]:
gap(2, 100, 105)

### ProjectEuler: Multiples of 3 or 5
#### https://projecteuler.net/problem=1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
#returns list of multiples within specified limit
def find_multiples(multiple, limit):
    result = list()
    current_mult = multiple
    for i in range(1, (limit + multiple) // multiple):
            if current_mult * i < limit:
                result.append(current_mult * i)
    return result

# returns the sum of the union of two sets
def sum_multiples(multiples, limit):
    set_1 = set(find_multiples(multiples[0], limit))
    set_2 = set(find_multiples(multiples[1], limit))
    return sum(set_1.union(set_2))

In [ ]:
sum_multiples([3,5], 1000)

### Codewars: Joesphus

In [ ]:
# n = people, k = skip value
def josephus2(n,k):
    n = list(range(1,n+1))
    i = -1
    while len(n) > 1:
        i = (i + k) % len(n)
        n = n[:i] + n[i+1:]
        i -= 1

    return n[0]

In [ ]:
josephus_survivor(7,3)

### Codewars: ROT-13
#### https://www.codewars.com/kata/52223df9e8f98c7aa7000062/train/python

In [ ]:
import string

def rot13(message):
    # in dict comprehension the key is set once, no need to set again in else statement
    alph_set = {key: chr((ord(key) + 13)) if ord(key) + 13 < 123 else chr(ord(key) - 13) for key in string.ascii_lowercase}
    # for loop method
    # alph_set_2 = dict()
    # for key in string.ascii_lowercase:
    #     if ord(key) + 13 < 123:
    #         alph_set_2[key] = chr(ord(key) + 13)
    #     else:
    #         alph_set_2[key] = chr(ord(key) - 13)
    result = ''
    for i in message:
        if i.isalpha():
            if i.isupper():
                result += alph_set[i.lower()].upper()
            else:
                result += alph_set[i.lower()].lower()
        else:
            result += i
    return result

In [ ]:
rot13('1')

In [ ]:
45*60

In [ ]:
words = 'His e-mail is q-lar@freecodecamp.org'
pieces = words.split()
pieces

In [ ]:
def solution(string):
    return string[::-1]

# Codewars: Prefill an Array(6kyu)<br>
https://www.codewars.com/kata/54129112fb7c188740000162

# Codewars: Dashatize it(6kyu)<br>
https://www.codewars.com/kata/58223370aef9fc03fd000071/train/python

In [ ]:
def dashatize(n, result= ''):
    try:
        n = abs(n)
    except:
        return 'None'
    for item in str(n):
        if int(item) % 2 != 0:
            result += f'-{abs(int(item))}-'
        else: result += item

    result = result.replace('--', '-').strip('-')

    return result

In [ ]:
dashatize(None)

# 8kyu : Square(n) Sum<br>
https://www.codewars.com/kata/515e271a311df0350d00000f/train/python

In [ ]:
def square_sum(numbers):
    return sum(i**2 for i in numbers)

In [ ]:
def no_space(x):
    return x.replace(' ', '')

# 8kyu: Counting Sheep<br>
https://www.codewars.com/kata/54edbc7200b811e956000556/train/python

In [ ]:
def count_sheeps(sheep):
    return sheep.count(True)

# 7kyu: Regex Validate PIN code

In [ ]:
def validate_pin(pin):
    return len(pin) in (4, 6) and pin.isdigit()

In [ ]:
validate_pin('123')

# 7kyu: Binary Addition

In [ ]:
def add_binary(a,b):
    return bin(a + b)[2:]

In [ ]:
test = 51, 12
add_binary(51, 12)

# 7kyu: Printer Errors

In [ ]:
def printer_error(s): #a: 97 m: 109 z:122
    counter = 0
    for e in s:
        if e > "m":
            counter += 1
    return f'{counter}/{len(s)}'

# 8kyu: Century from Year

In [ ]:
from math import ceil
def century(year):
    return ceil(year / 100)

# 7kyu: String ends with?

In [ ]:
def solution(string, ending):
    return ending == string[-len(ending):] or len(ending) == 0

git add<br>
git commit -m ""<br>
git push<br>
git pull

# 7kyu: Ones and Zeroes

In [ ]:
def binary_array_to_number(arr):
    return int(''.join(map(str, arr)), 2)

# 8kyu: Basic Mathematical Operations
https://www.codewars.com/kata/57356c55867b9b7a60000bd7

In [ ]:
def basic_op(operator, value1, value2):
    # if operator == '+': return value1 + value2
    # elif operator == '-': return value1 - value2
    # elif operator == '*': return value1 * value2
    # else: return value1 / value2
    return eval(f'{value1}{operator}{value2}')
    #eval function anything from string https://realpython.com/python-eval-function/

# 7kyu: Number of People in the bus
https://www.codewars.com/kata/5648b12ce68d9daa6b000099/train/python

In [ ]:
def number(bus_stops):
    return sum([on - off for (on, off) in bus_stops])

In [ ]:
number([[10,0],[3,5],[5,8]])

# 8kyu: Convert number to reversed array of digits:
https://www.codewars.com/kata/5583090cbe83f4fd8c000051/train/python

In [ ]:
def digitize(n):
    # return list(reversed([int(number) for number in str(n)]))
    return [int(x) for x in str(n)[::-1]]

In [ ]:
digitize(35231)

# 8kyu: Abbreviate a Two Word Name
https://www.codewars.com/kata/57eadb7ecd143f4c9c0000a3/train/python

In [ ]:
def abbrev_name(name):
    return f"{name.split(' ')[0][0].upper()}.{name.split(' ')[1][0].upper()}"

In [ ]:
abbrev_name("Sam Harris")

# 8 kyu Is n divisible by x and y?
https://www.codewars.com/kata/5545f109004975ea66000086/train/python

In [ ]:
def is_divisible(n,x,y):
    return n % y == 0 and n % x == 0

In [ ]:
is_divisible(3,2,2)

# 8 kyu A Needle in the Haystack
https://www.codewars.com/kata/56676e8fabd2d1ff3000000c/train/python

In [ ]:
def find_needle(haystack):
    return f'found the needle at position {haystack.index("needle")}'

In [ ]:
find_needle(['3', '123124234', None, 'needle', 'world', 'hay', 2, '3', True, False])

# 8 kyu Count of positives / sum of negatives
https://www.codewars.com/kata/576bb71bbbcf0951d5000044/train/python

In [ ]:
def count_positives_sum_negatives(arr):
    count_pos = len([i for i in arr if i > 0])
    sum_neg = sum([i for i in arr if i < 0])
    return [] if not arr else [count_pos, sum_neg]

# 6 kyu Roman Numerals Decoder
https://www.codewars.com/kata/51b6249c4612257ac0000005/train/python

In [ ]:
ROM_NUM = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000,
}

EDGE_CASE = {
    'IV': 4,
    'IX': 9,
    'XL': 40, 
    'XC': 90, 
    'CD': 400, 
    'CM': 900 
}

def solution(roman):
    sum_roman = 0
    for keys in EDGE_CASE.keys():
        if keys in roman:
            roman = roman.replace(keys, "")
            sum_roman += EDGE_CASE[keys]
    chars_l = [char for char in roman]
    for char in roman:
        sum_roman +=ROM_NUM[char]
    return sum_roman

# 4 kyu Human readable duration format
https://www.codewars.com/kata/52742f58faf5485cae000b9a/train/python

In [ ]:
def format_duration(seconds):
    result, answ = [], ''
    y_d_h_m = [('year', 365 * 24 * 60 * 60), ('day', 24 * 60 * 60), ('hour', 60 * 60), ('minute', 60)]

    if seconds == 0:
        return 'now'

    for i in range(len(y_d_h_m)):
        if seconds >=  y_d_h_m[i][1]:
            temp_val = seconds // y_d_h_m[i][1]
            if temp_val > 1:
                result.append([y_d_h_m[i][0] + 's',  temp_val])
            else: result.append([y_d_h_m[i][0], temp_val])
            seconds -= temp_val * y_d_h_m[i][1]
    
    if seconds == 1:
        result.append(['second', seconds])
    elif seconds > 1:
        result.append(['seconds', seconds])

    if len(result) == 1:
        return f'{result[0][1]} {result[0][0]}'
    elif len(result) > 1:
        for i in range(len(result) - 1):
            answ += f'{result[i][1]} {result[i][0]}, '
        return f'{answ[:-2]} and {result[-1][1]} {result[-1][0]}'

In [ ]:
format_duration(3662)

# 4 kyu Sudoku Solution Validator
https://www.codewars.com/kata/529bf0e9bdf7657179000008

In [ ]:
def valid_solution(board):
    # get columns
    for row in range(0, 9):
        new_row = []
        for item in range(0, 9):
            new_row.append(board[item][row])
        board.append(new_row)
    # get blocks
    for i in range(0, 9, 3):
        for j in range(0, 9, 3):
            board.append(board[i][j:j+3] + board[i+1][j:j+3] + board[i+2][j:j+3])
    # Row & check board
    for row in board:
        if len(set(row)) != 9 or sum(row) != 45:
            return False
    return True

# 4 kyu Strip Comments
https://www.codewars.com/kata/51c8e37cee245da6b40000bd/train/python

In [ ]:
def solution(string, markers):
    parts = string.split('\n')
    for s in markers:
        parts = [v.split(s)[0].rstrip() for v in parts]
    return '\n'.join(parts)

# 4kyu Range Extraction
https://www.codewars.com/kata/51ba717bb08c1cd60f00002f

In [ ]:
from itertools import groupby
def solution(args):
    for _, g in itertools.groupby(enumerate(args), lambda i_x : i_x[0] - i_x[1]):
        r = [x for _, x in g]
        ranges.append(r)
    for l in ranges:
        if len(l) > 2:
            temp.append(f'{l[0]}-{l[-1]}')
        else:
            temp.append(l)
    for i in temp:
        if type(i) == list:
            for x in i:
                result.append(str(x))
        else: result.append(i)
    return ','.join(result)

# 4 kyu Permutations
https://www.codewars.com/kata/5254ca2719453dcc0b00027d/train/python

In [9]:
def permutations(string):
    if len(string) == 0:
        return []
    if len(string) == 1:
        return [string]
 
    # Find the permutations for lst if there are
    # more than 1 characters
    result = set()
 
    # Iterate the input(lst) and calculate the permutation
    for i in range(len(string)):
        temp_result = "" # empty list that will store current permutation
        first_letter = string[i]

        # Extract lst[i] or m from the list.  remLst is
        # remaining list
        remaining_string = string[:i] + string[i+1:]

        # Generating all permutations where m is first
        # element
        for p in permutations(remaining_string):
            temp_result = first_letter + p
            result.add(temp_result)
    return list(result)

In [10]:
permutations('aabb')

['baba', 'aabb', 'abab', 'baab', 'abba', 'bbaa']

# 6 kyu Give me a Diamond
https://www.codewars.com/kata/5503013e34137eeeaa001648/train/python

In [101]:
def diamond(n):
    if n % 2 == 0 or n < 0:
        return None
    diamond_str = ""
    for i in range(1, n + 1, 2):
        txt = '*'
        txt = i * txt
        diamond_str += f'{txt.center(n).rstrip()}\n'
    for i in range(n - 2, 0, -2):
        txt = '*'
        txt = i * txt
        diamond_str += f'{txt.center(n).rstrip()}\n'
    return print(diamond_str)

In [104]:
diamond(2)

In [106]:
print(None)

None